:root { 
  /* 
    What are the happy colors?
    Happy colors are bright, warm colors like yellow, orange, pink and red. Pastel colors like peach, light pink or lilac can also have an uplifting effect on your mood. 
    
    Colors sourced from: https://www.99colors.net
  */
  --main-text-color: #FF7F00;
  --alt-text-color: #FFFE00;
  --main-bg-color: #C8A2C8;
  --alt-bg-color: #7C3F7C;
  --off-red: #FF2A00;
  --off-blue: #0080FF;  /* possible offset color; not a part of the 'happy' collection. */
}

.App {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 2.5vmin 2rem; 
  text-align: center;
  color: #FFFE00;
  /* border: 1px solid red; */
}

.App h1 {
  font-size: calc(25px + 2vmin);
  color: var(--main-text-color);
  /* background-color: #FF7F00; */
  /* border: 1px solid green; */
}

.App-header {
  display: flex;
  justify-content: center;
  background-color: var(--alt-bg-color);
  /* border: 1px solid red; */
}

.App body {
  min-height: 80vh;
  font-size: calc(10px + 1vmin);
  background-color: var(--main-bg-color);
}